head
    link(rel='stylesheet', href="/css/style.css")
body
    form#authForm(method="POST", action="/auth/login")
        input.hidden(name="response_type", value=response_type, readonly)
        input.hidden(name="redirect_uri", value=redirect_uri, readonly)
        input.hidden(name="app_id", value=app_id, readonly)
        p Логин
        input(name="login", required)
        p Пароль
        input(name="password", type="password", required)
        input.on-center(type="submit")